body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scratch Input Variable Highlight Style */
.scratch-input-highlight {
  background-color: var(--accent-color-transparent);
  border-radius: 10px;
  cursor: help ;
}

.scratch-input-inline {
  color: var(--accent-color) !important;
  font-weight: 600;
}
